<IfModule mod_rewrite.c>
    # Disable MultiViews to prevent conflicts
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    # Enable the rewrite engine
    RewriteEngine On

    # Ensure index.php is used as the default entry point
    DirectoryIndex index.php

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Route requests to the Laravel front controller (index.php)
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    # Pass authorization headers for APIs, if any
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
</IfModule>
