
.canvas-container{
    top: -800px !important;
}

.price{
    height: 3rem;
    background-color: white;
    width: 50vh;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.active-option img {
    border: 3px solid green;
}

label{
    font-weight: 500;
}
::-webkit-scrollbar {
  width: 10px;
  /* Set the width of the scrollbar */
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  /* Set the background color of the track */
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  /* Set the color of the thumb */
  border-radius: 6px;
  /* Set the border-radius to make it rounder */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
  /* Set the color of the thumb on hover */
}

.admin-nav .nav-link.active {
  background-color: #36382e !important;
  border-color:#36382e;
  color: white; /* Optional: Adjust text color */
  
}

.admin-nav .nav-link.active i {
 
  color: white !important; /* Optional: Adjust text color */
  
}
main{
  background: #f8f9f9;
}
.nav-link {
  margin-bottom: 10px; /* Adjust value as needed */
}


.dashboard-search {
  background: #f8f9f9 !important;
  border-radius: 0 !important;
  border-left:none !important;
  border-right: none !important;
  border-top: none !important;
  border-bottom: 2px solid black !important;
  transition: border 1s ease, border-radius 1s ease;
}
.dashboard-search:focus {
  border: 2px solid #36382e !important; /* Darker border on focus */
  border-radius: 5rem !important;
 
  box-shadow: none !important; /* Optional: remove the default focus shadow */
}

i{
  color: #36382e !important;
  font-size: 20px;
}

.dashboard-top-card{
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border: none !important;
}
.dashboard-top-card i{
  color:#36382e;
}

.table-modern thead {
  background-color: #343a40;
  color: white;
}
.table-modern tbody tr:hover {
  background-color: #f1f1f1;
}