
html, body {
  height: 100%; /* Set height to 100% */
  margin: 0; /* Remove default margins */
  overflow: hidden; /* Prevent body scroll */
}
body {
  display: flex;
  flex-direction: column; /* Arrange children vertically */
}
.canvas-container {
  top: -800px !important;
}

.price {
  height: 3rem;
  background-color: white;
  width: 50vh;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.active-option img {
  border: 3px solid green;
}

label {
  font-weight: 500;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.admin-nav .nav-link.active {
  background-color: #36382e !important;
  border-color: #36382e;
  color: white;
}

.admin-nav .nav-link.active i {
  color: white !important;

}

main {
  background: #f8f9f9;
}

.sidebar .nav-link {
  margin-bottom: 10px;
  text-decoration: none;
  color: black;
}

.sidebar .nav-link.active {
  margin-bottom: 10px;
  text-decoration: none;
  color: white !important;
}

.dashboard-search {
  background: #f8f9f9 !important;
  border-radius: 0 !important;
  border: none !important;
  border-bottom: 2px solid black !important;
  transition: border 1s ease, border-radius 1s ease;
}

.dashboard-search:focus {
  border: 2px solid #36382e !important;
  border-radius: 5rem !important;
  box-shadow: none !important;
}

.shadow{
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

i {
  color: #36382e !important;
  font-size: 20px;
}

.dashboard-top-card {
  /* box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); */
  border: none !important;
}

.dashboard-top-card i {
  color: #36382e;
}

.table-modern thead {
  background-color: #343a40;
  color: white;
}

.table-modern tbody tr:hover {
  background-color: #f1f1f1;
}
.box{
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.sidebar {
  height: 100vh;
  /* position: fixed; */
  /* left: 0;
  top: 0; */
  /* z-index: 3000; */
  width: 250px;
  background-color: white;
  transition: transform 0.3s ease;
  overflow-y: auto;
}

.sidebar.collapsed {
  max-width: 0;
  display: none !important;
  transition: width 0.4s ease, opacity 0.4s ease;
  overflow: hidden;
}


/* For mobile devices (max width of 576px) */
@media (max-width: 576px) {
  .z-index-mobile {
    z-index: 1000; /* Set your desired z-index value */
    position: absolute;
  }
}

/* For tablets (between 576px and 1024px) */
@media (min-width: 577px) and (max-width: 1024px) {
  .z-index-mobile {
    z-index: 1000; /* Set your desired z-index value */
    position: absolute;
  }
}

.designer-settings-tab .nav-item .nav-link{
   text-decoration: none;
   color: black; 
   border: none;
   transition: color 0.3s, border-bottom 0.3s;
}

.designer-settings-tab .nav-item .nav-link.active{
  border-bottom: 2px solid black;
}

.modal-footer{
  border:none !important;
}

.modal-header{
  border:none !important;
}

#contextMenu {
  display: none;
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
#contextMenu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#contextMenu ul li {
  padding: 8px 12px;
  cursor: pointer;
}
#contextMenu ul li:hover {
  background-color: #f0f0f0;
}